body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
}

.container {
    text-align: center;
}

.container h3 {
    background-color: beige;
    color: crimson;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
.color {
    font-weight: bold;
    font-size: 20px;
    color: aquamarine;
}
.btn {
    font-weight: bold;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}
.btn:hover {
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: crimson;
    background-color: azure;
    transition: all 0.1s;
}